<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>道盈政务网</title>
    <link href="../style/login.css" rel="stylesheet" /> 
    <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="../scripts/cookies.js"></script>
</head>
<body>

    <div class="bg"></div>
    <div class="container">
        <div class="line bouncein">
            <div class="xs6 xm4 xs3-move xm4-move">
                <div style="height:150px;"></div>
                <div class="media media-y margin-big-bottom">
                </div>
                <form action="index.html" method="post">
                    <div class="panel loginbox">
                        <div class="text-center margin-big padding-big-top">
                            <h1>后台管理中心</h1>
                        </div>
                        <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                            <div class="form-group">
                                <div class="field field-icon-right">
                                    <input type="text" class="input input-big" name="name" id="username" placeholder="登录账号" />
                                    <span class="icon icon-user margin-small"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field field-icon-right">
                                    <input type="password" autocomplete="new-password" class="input input-big" name="password" id="password" placeholder="登录密码" />
                                    <span class="icon icon-key margin-small"></span>
                                </div>
                            </div> 
                        </div>
                        <div style="padding:30px;">
                            <input type="button" id="button" class="button button-block bg-main text-big input-big" onclick="login()" value="登录">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var token = "";
        function login()
        {
            $.ajax({
                type: "post",
                url: "http://api.pub123.cn/api/authorizations",
                //data: { email: "kexin@qq.com", password: "123456" },
                data: { email: $("#username").val(), password: $("#password").val() },
                dataType: "json",
                async: false,
                success: function (json) {
                    token = json.access_token;
                    SetCookie("user", $("#username").val());
                    SetCookie("token", token);
                    SetCookie("sorder", "-1");
                    SetCookie("eorder", "-1");
                    window.location.href = "back.html";
                }
            });
        }
    </script>
</body>
</html>